<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel = stylesheet href="style.css" />
</head>
<body>
    <div class="jumbotron bg-warning">
        <img src="../static/btc2.png" width="150" alt="btc2" />
        <h1 class="display-1">Bitcoin Project</h1>
        <p class="lead">By Chris Guevara.</p>
        <hr class="my-4">
        
        <h3 class="display-10">Bitcoin Price analysis using Prophet and Arima Model. Bitcoin Classification analysis using supervised machine learning.</h3>
    </div>
    
      <div style="background: whitesmoke; 
      font-size: 20px; 
      padding: 10px; 
      border: 10px solid orange; 
      margin: 25px;">

    <pre><code>
        LOGISTIC REGRESSION

            Confusion Matrix
                        Predicted 0	Predicted 1
            Actual 0	    1242	0
            Actual 1	    74	        0
            Training Score: 0.9368
            Testing Score: 0.9437
                          precision    recall  f1-score   support
            
                       0       0.94      1.00      0.97      1242
                       1       0.00      0.00      0.00        74
            
                accuracy                           0.94      1316
               macro avg       0.47      0.50      0.49      1316
            weighted avg       0.89      0.94      0.92      1316
            
            Balanced Accuracy Score = 0.5
            Accuracy Score = 0.94376
        
     
        LOGISTIC REGRESSION - Oversampling Using RandomOverSampler
    
            Confusion Matrix
                        Predicted 0	Predicted 1
            Actual 0	    0	            1242
            Actual 1	    0	            74
            
            Training Score: 0.5
            Testing Score: 0.05623

            Imbalanced Classification Report
                               pre       rec       spe        f1       geo       iba       sup
            
                      0       0.00      0.00      1.00      0.00      0.00      0.00      1242
                      1       0.06      1.00      0.00      0.11      0.00      0.00        74
            
            avg / total       0.00      0.06      0.94      0.01      0.00      0.00      1316
            
            Balanced Accuracy Score = 0.5
            Accuracy Score = 0.056

        LOGISTIC REGRESSION - Undersampling Using ClusterCentroids
    
            Confusion Matrix
   
                        Predicted 0	Predicted 1
            Actual 0	    1046	    196
            Actual 1	    34	            40
            
            Training Score: 0.770
            Testing Score: 0.825

            Imbalanced Classification Report
            pre       rec       spe        f1       geo       iba       sup

            0       0.97      0.84      0.54      0.90      0.67      0.47      1242
            1       0.17      0.54      0.84      0.26      0.67      0.44        74

            avg / total       0.92      0.83      0.56      0.86      0.67      0.47      1316
            
            Balanced Accuracy Score = 0.6913
            Accuracy Score = 0.8252



        LOGISTIC REGRESSION - Over and Under sampling using SMOTEENN
    
            Training Score: 0.6774
            Testing Score: 0.8199
            
            Confusion Matrix
                        Predicted 0	Predicted 1
            Actual 0	    1037	    205
            Actual 1	    32	            42
            Balanced Accuracy Score = 0.7012
            Accuracy Score = 0.8199
            
            Imbalanced Classification Report
                            pre       rec       spe        f1       geo       iba       sup
            
                    0       0.97      0.83      0.57      0.90      0.69      0.49      1242
                    1       0.17      0.57      0.83      0.26      0.69      0.46        74
            
            avg / total       0.93      0.82      0.58      0.86      0.69      0.49      1316
        
        </code></pre>

        
    
            <center><h1>Bitcoin Active Address Prediction using Prophet Model - 2024</h1>
            <iframe src="../static/active_addressess.html" height="600" width="1450" title="Iframe Example"></iframe></left>\
            <h1>Bitcoin Value Prediction using Prophet Model - 2024</h1>
            <center><iframe src="../static/value.html" height="600" width="1450" title="Iframe Example"></iframe></left>
            <h1>Bitcoin Price Prediction using Prophet Model - 2024</h1>
            <center><iframe src="../static/prices.html" height="600" width="1451" title="Iframe Example"></iframe></left>
            <h1>Bitcoin Wallets Prediction using Prophet Model - 2024</h1>
            <center><iframe src="../static/wallets.html" height="600" width="1451" title="Iframe Example"></iframe>
            <h1>Bitcoin Value Status - 2024</h1>
            <center><iframe src="../static/MAwithValue.html" height="600" width="1451" title="Iframe Example"></iframe>
            <h1>Bitcoin Moving Average - 2024</h1>
            <center><iframe src="../static/movingaverages.html" height="600" width="1451" title="Iframe Example"></iframe>
            <h1>Bitcoin Moving Average vs Status - 2024</h1>
            <center><iframe src="../static/Bitcoinvaluestatus.html" height="600" width="1451" title="Iframe Example"></iframe>
        </div>
                
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>