<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<body style="background-color:#131212; color:#f2eaea">
    
    <div class="container">
   
                   <div id="logo" > 
                    <img src="../static/logo5.png" class="left" width="1200" height="1000"  > 
                    </div> 
                    <br><br>
                  <form name="form", action="/run" method="post", style="text-align: center; ">
                
                    <h2> <input type="date" name="Date" value="2022-12-10" class="btn btn-dark" style= "color:rgb(235, 230, 230); font-size: 50px; background:rgb(20, 21, 21)""
                    min="2022-12-10" max="2024-01-01",/>
                    <br><br>
                    <button class="btn btn-dark"  value="FORECAST" style= "font-size: 50px"; >FORECAST</span> </button>
                    <br><br>             
                    <p>{{ output }}</p>
                    
                    </h2>
                </form>
     
       
            <center><h2 class="text-white">Bitcoin Metcalfe's Law Value Status</h2>
            <center><iframe src="../static/status.html" height="800" width="1200" title="Iframe Example"></iframe> 
            <br><br>
            <br><br>
            <h2 class="text-white">Bitcoin Log Price Forecast</h2>    
            <center><iframe src="../static/logprices.html" height="800" width="1200" title="Iframe Example"></iframe>  
                <br><br>
                <br><br>
            <center><h2 class="text-white">Bitcoin Moving Average vs Status - 2024</h2>
            <center><iframe src="../static/Bitcoinvaluestatus.html" height="800" width="1200" title="Iframe Example"></iframe>
                <br><br>
            <br><br>
            <center><h2 class="text-white"> Bitcoin Wallets Prediction</h2>
            <center><iframe src="../static/wallets.html" height="800" width="1200" title="Iframe Example"></iframe>
                <br><br>
            <br><br>
            <center><h2 class="text-white"> Bitcoin Min and Max Mean</h2>
            <center><iframe src="../static/bitcoinvaluemax.html" height="800" width="1200" title="Iframe Example"></iframe>
                <br><br>
            <br><br>
            <center><h2 class="text-white"> Bitcoin Buy Zones</h2>
            <center><iframe src="../static/buyzones.html" height="800" width="1200" title="Iframe Example"></iframe>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>