<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel = stylesheet href="style.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="prophet.html">Prophet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Supervised.html">Supervised Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="keras.html">KERAS Bonus</a>
              </li>
              <li class="nav-item dropdown">
              </li>
            </ul>
          </div>
         
        </div>
      </nav>
 
      <center><h1>Bitcoin Buy Zones</h1>
      <iframe src="../static/buyzones.html" height="800" width="1300" title="Iframe Example"></iframe>
      </center>

      <p>
  
      </p>
      

      <center> <h1>Results</h1> </center>
      <pre><code>
        # Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
        number_input_features = len(X_train_scaled[0])
        hidden_nodes_layer1 = 80
        hidden_nodes_layer2 = 50
        hidden_nodes_layer3 = 50
        hidden_nodes_layer4 = 50

        nn = tf.keras.models.Sequential()

        # First hidden layer
        nn.add(
            tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
        )

        # Second hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

        # Third hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

        # Fourth hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


        # Output layer
        nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

        # Check the structure of the model
        nn.summary()

        Model: "sequential_2"
        _________________________________________________________________
        Layer (type)                Output Shape              Param #   
        =================================================================
        dense_8 (Dense)             (None, 80)                480       
                                                                        
        dense_9 (Dense)             (None, 50)                4050      
                                                                        
        dense_10 (Dense)            (None, 50)                2550      
                                                                        
        dense_11 (Dense)            (None, 50)                2550      
                                                                        
        dense_12 (Dense)            (None, 1)                 51        
                                                                        
        =================================================================
        Total params: 9,681
        Trainable params: 9,681
        Non-trainable params: 0
        _________________________________________________________________

        # Compile the model
        nn.compile(loss="binary_crossentropy", optimizer="Adamax", metrics=["accuracy"])
        # Evaluate the model using the test data
        # Train the model
        fit_model = nn.fit(X_train_scaled,y_train,epochs=100)
        model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
        print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

        Epoch 1/100
        88/88 [==============================] - 2s 2ms/step - loss: -4.6106 - accuracy: 0.2327
        Epoch 2/100
        88/88 [==============================] - 0s 3ms/step - loss: -79.5517 - accuracy: 0.3632
        Epoch 3/100
        88/88 [==============================] - 0s 2ms/step - loss: -631.6428 - accuracy: 0.3733
        Epoch 4/100
        88/88 [==============================] - 0s 2ms/step - loss: -3052.3943 - accuracy: 0.3783
        Epoch 5/100
        88/88 [==============================] - 0s 2ms/step - loss: -9988.8379 - accuracy: 0.3811
        Epoch 6/100
        88/88 [==============================] - 0s 2ms/step - loss: -26794.0742 - accuracy: 0.3851
        Epoch 7/100
        88/88 [==============================] - 0s 2ms/step - loss: -62653.0156 - accuracy: 0.3872
        Epoch 8/100
        88/88 [==============================] - 0s 2ms/step - loss: -127732.4609 - accuracy: 0.3897
        Epoch 9/100
        88/88 [==============================] - 0s 2ms/step - loss: -234037.5312 - accuracy: 0.3894
        Epoch 10/100
        88/88 [==============================] - 0s 2ms/step - loss: -393938.7500 - accuracy: 0.3894
        Epoch 11/100
        88/88 [==============================] - 0s 2ms/step - loss: -636344.5625 - accuracy: 0.3908
        Epoch 12/100
        88/88 [==============================] - 0s 2ms/step - loss: -998718.3125 - accuracy: 0.3908
        Epoch 13/100
        ...
        Epoch 100/100
        88/88 [==============================] - 0s 1ms/step - loss: -41108848640.0000 - accuracy: 0.3944
        38/38 - 1s - loss: -4.2378e+10 - accuracy: 0.4013 - 566ms/epoch - 15ms/step
        Loss: -42377654272.0, Accuracy: 0.40133780241012573

        --- Experimenting with different models ---
        
        # Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
        number_input_features = len(X_train_scaled[0])
        hidden_nodes_layer1 = 80
        hidden_nodes_layer2 = 50
        hidden_nodes_layer3 = 50
        hidden_nodes_layer4 = 50

        nn = tf.keras.models.Sequential()

        # First hidden layer
        nn.add(
            tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
        )

        # Second hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

        # Third hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

        # Fourth hidden layer
        nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


        # Output layer
        nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

        # Check the structure of the model
        nn.summary()

      </code></pre>

  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>